# IDE directories
.idea/
.vscode/

# Python artifacts
__pycache__/
*.py[codz]
*.so

# Build and distribution
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Docker-related files to ignore
conda_store/

# Local data, logs, and outputs not for version control
data/
logs/
outputs/